<app-top-cards></app-top-cards>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-7">
    <app-sales-summary></app-sales-summary>
  </div>
  <div class="col-lg-5">
    <app-feeds></app-feeds>
  </div>
</div>
<div class="col-12">
  <app-project-statistics></app-project-statistics>
</div>
<div class="chart-container">
  <app-category-statistics></app-category-statistics>
</div>
<app-cost-project></app-cost-project>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <app-top-selling></app-top-selling>
  </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Project Statistics -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
 
  
  <app-most-expensive-project></app-most-expensive-project>
  <app-least-expensive-project></app-least-expensive-project>


</div>
<!-- ============================================================== -->
<!-- Project Statistics -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<app-blog-cards></app-blog-cards>
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
